* {
    background-color: #1a1a1a;
    font-family: monospace;
    font-size: 14px;
}

textarea, input {
    color: #00ffff;
    background-color: black;
    width: 100%;
}

#info {
    color: #00ffff
}
